@import url('base.css');
header{
	width: 100%;
	height: 25px;
}
header > section{
	width: 691px;
	height: 25px;
	float: right;
	background: #EEEEEE;
	color: #666666;
	display: block;
}
.head-left{
	width: 25px;
	height: 100%;
	background: url('../img/download.png') no-repeat center;
	float: left;
}
.head-right{
	width: 454px;
	height: 100%;
	float: left;
	font-size: 11px;
	line-height: 25px;
}
.head-right > .head-right1{
	width: 273px;
	height: 100%;
	float: left;
}
.head-right a{
	border-left: 1px solid #CCCCCC;
	padding-left: 5px;
}
.head-right a:nth-of-type(1){
	border-left: none;
	color: #F7A800;
}
.head-right > div{
	float: right;
}
nav{
	width: 960px;
	height: 76px;
	background: #fff;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.nav-img{
	width: 301px;
	height: 100%;
	display: block;
	float: left;
	position: relative;
	margin-right: 180px;
	cursor: pointer;
}
.nav-img img{
	width: 100%;
	height: 100%;
}
.nav-img span{
	width: 30px;
	height: 17px;
	background: #21AAE1;
	text-align: center;
	border-radius: 2px;
	font-size: 11px;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 305px;
}
.nav-img a{
	width: 50px;
	font-size: 11px;
	color: #F8A784;
	position: absolute;
	top: 30px;
	left: 305px;
}
.nav-img a:hover{
	border-bottom: 1px solid #F8A784;
}
.nav-center{
	width: 321px;
	height: 36px;
}
.nav-center input{
	width: 234px;
	height: 36px;
	border: 3px solid #3BAEDA;
	float: left;
	outline: none;
	padding-left: 26px;
}
.nav-center a{
	width: 60px;
	height: 100%;
	background: #3BAEDA;
	color: #fff;
	text-align: center;
	line-height: 36px;
	float: left;
}
.banner-top{
	width: 100%;
	height: 50px;
	background: #0A95DA;
}
.banner-top1{
	width: 960px;
	height: 50px;
	background: #0A95DA;
	margin: 0 auto;
}
.banner-top1 a{
	display: block;
	width: 130px;
	height: 100%;
	float: left;
	background: #0A95DA;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.banner-top1 a:nth-child(3){
	background: #0785D3;
}
.banner-top1 a:last-child{
	margin-left: 100px;
}
.banner-top1 a:nth-child(1):hover{
	background: #0785D3;
}
.banner-top1 a:nth-child(2):hover{
	background: #0785D3;
}
.banner-top1 a:nth-child(3):hover{
	background: #0785D3;
}
.banner-top1 a:nth-child(4):hover{
	background: #0785D3;
}
.banner-top1 a:nth-child(5):hover{
	background: #0785D3;
}
.banner{
	width: 100%;
	height: 100px;
	background: #E9E9E9;
	border-bottom: 1px solid #D8D8D8;
}
.banner-top2{
	width: 960px;
	height: 50px;
	border-bottom: 1px solid #D8D8D8;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.banner-top2 span{
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
}
.banner-top2 a{
	font-size: 12px;
	color: #666666;
	line-height: 26px;
	padding: 0 12px;
	margin-left: 10px;
	border-radius: 2px;
}
.banner-top2 a:nth-of-type(1){
	color: #fff;
	background: #FF8432;
}
.banner-top2 a:hover{
	color: #fff;
	background: #FF8432;
}
.banner-bottom{
	width: 960px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.banner-bottom span{
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
}
.banner-bottom a{
	font-size: 12px;
	color: #666666;
	line-height: 26px;
	padding: 0 12px;
	margin-left: 10px;
	border-radius: 2px;
}
.banner-bottom a:nth-of-type(1){
	color: #fff;
	background: #FF8432;
}
.banner-bottom a:hover{
	color: #fff;
	background: #FF8432;
}

.neirong{
	width: 960px;
	height: auto;
	border: 1px solid #E1E1E1;
	margin: 10px auto;
	border-bottom: 0;
	overflow: hidden;
}
.neirong1{
	width: 319px;
	height: 322px;
	float: left;
	padding: 16px 21px;
	border-right: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
}
.neirong1:nth-child(3n){
	border-right: 0;
}
.neirong1 a{
	display: block;
	width: 100%;
	height: 170px;
	margin-bottom: 10px;
}
.neirong1 a img{
	width: 100%;
	height: 100%;
}
.neirong2{
	width: 100%;
	height: 59px;
	border-bottom: 1px dashed #E1E1E1;
}
.neirong2 span:first-child{
	font-size: 14px;
	margin-left: 5px;
	margin-right: 10px;
	color: #000;
}
.neirong2 span:nth-child(2){
	font-size: 14px;
	color: #2C83C7;
	margin-right: 10px;
}
.neirong2 span:nth-child(3){
	font-size: 14px;
	color: #F7A700;
	margin-right: 10px;
}
.neirong2 span:last-child{
	font-size: 12px;
	margin-left: 5px;
	color: #999999;
}
.neirong1 .neirong3{
	display: block;
	font-size: 22px;
	color: #E0006E;
	line-height: 34px;
	margin-left: 10px;
}
.neirong1 .neirong4{
	display: block;
	font-size: 12px;
	color: #666666;
	margin-left: 5px;
}
.neirong1 .neirong4 span{
	font-weight: bold;
}

.huangtiao{
	width: 100%;
	height: 8px;
	background: #F7A700;
	margin-top: 50px;
}
footer{
	width: 100%;
	height: 347px;
	background: #008CD7;
}
.foot{
	width: 960px;
	height: 203px;
	border-bottom: 1px solid #299FDE;
	margin: 0 auto;
	padding-top: 15px;
	padding-left: 30px;
}
.foot-left{
	width: 360px;
	height: 140px;
	float: left;
}
.foot-left span{
	display: block;
	font-size: 12px;
	color: #fff;
}
.foot-left span a{
	color: #fff;
	text-decoration: underline;
}
.foot-center{
	width: 1px;
	height: 140px;
	background: #299FDE;
	float: left;
	margin-top: 15px;
}
.foot-right{
	width: 569px;
	height: 100%;
	float: left;
}
.foot-right dl{
	width: 142px;
	height: 100%;
	float: left;
	padding-left: 52px;	
}
.foot-right dl dt{
	display: block;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	line-height: 42px;
}
.foot-right > dl > dd{
	display: block;
	line-height: 26px;
	font-size: 12px;
	color: #fff;
}
.foot-bottom{
	width: 960px;
	height: 144px;
	margin: 0 auto;
}
.foot-bottom img{
	width: 300px;
	height: 90px;
	display: block;
	margin-left: 38%;
}
.foot-bottom span{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #8DBFE8;
}
.foot-bottom a{
	display: block;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	color: #8DBFE8;
}
.foot-bottom a:hover{
	text-decoration: underline;
}